/* member general components */

.my-container {
  padding: 64px;
}
.pagination-container {
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
  .pagination-container {
    margin-top: 0px;
  }
  .my-container {
    padding: 10px 15px 15px 15px;
  }
}
