:root {
  --nav-height: 60px;
  --footer-height: 40px;
  --main-red: #ea0000;
  --main-black: #0a0a0a;
  --light-gray: #fafafa;
  --light-gray2: #f5f5f5;
  --main-white: #fff;
  --fortress: #ffdf8e;
  --deepgrey: #707070;

  --light-grey: #e0e3e7;
  --steel-light-grey: #b2bac2;
  --steel-grey: #6f7e8c;
}

@media screen and (max-width: 768px) {
  :root {
    font-size: 14px;
  }
}

@media screen and (max-width: 500px) {
  :root {
    font-size: 12px;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  min-width: 400px;
  /* overflow: hidden; */
  height: 100vh;
}

main {
  overflow: auto;
  height: calc(100vh - var(--nav-height));
}

a {
  color: inherit;
  text-decoration: none;
}


