.container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 150px 275px;
  gap: 20px;
}
.wrapper {
  width: 50%;
  flex-shrink: 0;
}
.map-container {
  width: 100%;
  aspect-ratio: 1 / 1;
}
